@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Demo</h1>
    <p><b>APP:</b> @ViewData["APP_NAME"]</p>
    <p><b>HOST:</b> @ViewData["HOST_NAME"]</p>
    <p><b>MACHINE:</b> @ViewData["MACHINE_NAME"]</p>
</div>
